.modal_overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100svw;
  height: 100svh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  backdrop-filter: blur(8px);
}

.modal_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_contant {  
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.button {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 1rem;
  left: 1rem;
  transform: rotate(45deg);
}
