.tour_info_section {
  display: none;
  grid-column: 1;
  grid-row: 2;
}

.info_item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
  text-align: right;
}

.info_label {
  font-family: "Yekan Bakh", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #444444;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  justify-content: flex-start;
}

.calendar_icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.info_value {
  font-family: "Yekan Bakh", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

.info_divider {
  width: 1px;
  height: 40px;
  background-color: #e0e0e0;
  flex-shrink: 0;
}

/* استایل‌های دسکتاپ */
@media (min-width: 768px) {
  .tour_info_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    margin-top: 1rem;
    grid-column: 1;
    grid-row: 2;
    padding-right: 30px;
    margin-right: 110px;
    justify-self: start;
    width: 397px;
  }
}
