.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 358px;
  height: 362px;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding: 20px 16px;
}
.container h4 {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  margin: 8px 0 6px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 12px 8px;
}

.form label {
  font-size: 14px;
  font-weight: 400;
  color: #282828;
  text-align: center;
}
/* .form input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 278px;
    height: 40px;
    position: absolute;
    top: 173px;
    right: 40px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 8px;
    gap: 8px;
    box-sizing: border-box;
    margin-top: 10px;
  } */

.enter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 278px;
  height: 54px;
  border: 1px solid #28a745;
  border-radius: 6px;
  padding: 8px;
  gap: 8px;
  background-color: #28a745;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.2s ease;
  margin-top: 12px;
}

.send_code:hover {
  background-color: #218838;
}

.error_message {
  color: rgb(164, 42, 42);
  margin: 10px 0;
  padding: 10px 0;
}

.timer {
  margin: 8px 0;
  font-size: 14px;
  color: #667085;
  text-align: center;
  margin: 16px 8px;
  /* padding: 16px 8px; */
}

.resend_btn {
  background: transparent;
  border: none;
  color: #28a745;
  cursor: pointer;
  font-size: 14px;
  justify-content: center;
}

.otp_wrapper {
  direction: ltr;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
