.container {
  display: flex;
  flex-direction: column;
  width: 358px;
  height: 362px;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}
.container h4 {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  border: 16px;
  padding: 16px 8px;
  padding-top: 60px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 40px;
  padding: 16px 8px;
  border: 16px;
  padding-right: 40px;
  padding-top: 45px;
}

.form input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 278px;
  height: 40px;
  position: absolute;
  top: 173px;
  right: 40px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 8px;
  gap: 8px;
  box-sizing: border-box;
  margin-top: 10px;
}

.send_code {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 278px;
  height: 54px;
  position: absolute;
  top: 268px;
  right: 40px;
  border: 1px solid #28a745;
  border-radius: 6px;
  padding: 8px;
  gap: 8px;
  background-color: #28a745;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.2s ease;
}

.send_code:hover {
  background-color: #218838;
}

.error_message{
  color: rgb(164, 42, 42);
  margin: 10px 0;
  padding: 10px 0;
}